@font-face {
    font-family: Caveat;
    src: url("../assets/fonts/Caveat/Caveat-VariableFont_wght.ttf");
}

:root {
    --dracula-orchid: #2c3639;
    --rocky-creek: #3f4e4f;
    --ancient-pottery: #a27b5c;
    --sassafras-tea: #dcd7c9;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

header {
    position: relative;
    margin-bottom: 20px;
}

.info,
main {
    padding: 20px;
}

.background {
    position: absolute;
    width: 100%;
    height: 50vh;
    background-color: var(--ancient-pottery);
    transform: skewY(-30deg) translateY(calc(50vw * tan(-30deg)));
    z-index: -1;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
}

.profile-container {
    padding: 25px;
    display: flex;
    justify-content: center;
}

.profile {
    width: 100%;
    background-image: url("../assets/images/header-man.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 2 / 3;
    font-family: Caveat;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.2);
}

.about {
    margin-bottom: 10px;
}

.about > h2 {
    color: var(--dracula-orchid);
    font-family: Caveat;
    text-align: center;
}

.about > p {
    color: var(--rocky-creek);
}

.header-links,
.footer-links {
    font-size: 32px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

:any-link {
    text-decoration: none;
    color: var(--dracula-orchid);
}

@media (hover: hover) {
    :any-link:hover {
        color: var(--sassafras-tea);
    }
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
}

main > section {
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main > section > h1 {
    color: var(--dracula-orchid);
    font-family: Caveat;
}

.projects {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
}

.card {
    display: grid;
    grid-template-rows: 3fr 2fr;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.screenshot {
    background-color: var(--sassafras-tea);
    color: var(--dracula-orchid);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
    padding: 20px;
}

.description {
    color: var(--dracula-orchid);
    padding: 20px;
    background-color: white;
}

.description > p {
    color: var(--rocky-creek);
}

.title {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    margin-bottom: 10px;
}

.card-links {
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 0;
}

footer {
    display: flex;
    justify-content: center;
    background-color: var(--ancient-pottery);
    color: white;
}

footer > div {
    max-width: 1000px;
    width: 100%;
}

footer > div > :first-child {
    padding: 20px;
}

.footer-links {
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

footer > div > :first-child > section > h1 {
    text-align: center;
    font-family: Caveat;
}

footer > div > :first-child > section > p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.address,
.contact-info {
    margin-bottom: 20px;
}

.number,
.email {
    display: flex;
    gap: 15px;
}

.icon {
    display: none;
}

.footer-image {
    max-width: 600px;
    width: 100%;
    background-image: url("../assets/images/footer-man.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 3 / 4;
}

@media (min-width: 600px) {
    header {
        margin-top: 150px;
        margin-left: 75px;
        margin-right: 75px;
        justify-self: center;
        max-width: 600px;
        background-color: white;
        box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.2);
    }

    .background {
        height: 40vh;
        transform: skewY(-15deg) translateY(calc(50vw * tan(-15deg)));
    }

    .info {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    main {
        padding: 75px;
    }

    .block {
        float: left;
        width: 45%;
        aspect-ratio: 10 / 7;
    }

    .profile-container {
        position: absolute;
        padding: 0;
        max-width: 50%;
        width: 100%;
        top: -20%;
        left: -10%;
    }

    .profile {
        aspect-ratio: 1 / 1;
        align-items: start;
    }

    .profile > h1 {
        font-size: 3rem;
        position: absolute;
        top: 0;
        right: -100%;
    }

    .header-links {
        display: none;
    }

    main > section > h1 {
        align-self: flex-start;
    }

    footer {
        padding: 75px;
    }

    footer > div {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    footer > div > :first-child > section > h1 {
        text-align: start;
    }

    footer > div > :first-child {
        padding: 0;
    }

    .icon {
        display: block;
    }

    .number {
        margin-bottom: 10px;
    }

    .footer-links {
        justify-content: flex-start;
        padding: 0;
    }

    .footer-image {
        max-width: 400px;
    }
}

@media (min-width: 1200px) {
    .background {
        height: 50vh;
        transform: skewY(-10deg) translateY(calc(50vw * tan(-10deg)));
    }

    header {
        display: flex;
        align-items: center;
        margin-left: 475px;
        margin-bottom: 150px;
    }

    .profile-container {
        all: unset;
        width: 200px;
        position: absolute;
        transform: translateX(-150%) scale(2);
    }

    .profile {
        align-items: flex-end;
    }

    .profile > h1 {
        position: static;
    }

    .info {
        margin: 0;
    }

    .about > h2 {
        text-align: start;
    }
    
    .header-links {
        display: flex;
        justify-content: flex-end;
    }

    .block {
        display: none;
    }

    main {
        justify-self: center;
        padding-left: 0;
        padding-right: 0;
    }

    footer > div {
        align-items: flex-start;
    }

    .footer-image {
        max-width: 600px;
        aspect-ratio: 3 / 2;
    }
}
